<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body" style="background-color: ghostwhite !important">
                <img class="mx-auto d-block img-responsive" src="/assets/img/login.png" style="max-width: 100px; max-height: 100px;"
                    alt="">
                <h1 class="text-center">Login</h1>
                <form [formGroup]="loginForm">
                    <!-- Email -->
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input [class.is-invalid]="!loginForm.controls['Email'].valid && loginForm.controls['Email'].touched"
                            formControlName="Email" type="email" class="form-control" id="email">
                        <div class="invalid-feedback" *ngIf="!loginForm.controls['Email'].valid && loginForm.controls['Email'].dirty">
                            <div *ngIf="loginForm.controls['Email'].hasError('required')">
                                * email is required
                            </div>
                            <div *ngIf="loginForm.controls['Email'].hasError('pattern')">
                                * Email not valid
                            </div>
                        </div>
                    </div>
                    <!-- Password -->
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input [class.is-invalid]="!loginForm.controls['Password'].valid && loginForm.controls['Password'].touched"
                            type="password" class="form-control" id="password" formControlName="Password">
                        <div class="invalid-feedback" *ngIf="!loginForm.controls['Password'].valid && loginForm.controls['Password'].dirty">
                            <div *ngIf="loginForm.controls['Password'].hasError('required')">
                                * required filed
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block" (click)="login()" [disabled]="loginForm.valid == false">Login</button>
                    <a class="text-center d-block" [routerLink]="['/register']" title="register"><small>Create account!</small></a>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- <form>
        <div class="form-group">
            <label for="email">Email:</label>
            <input [class.is-invalid]="!loginForm.controls['Email'].valid && loginForm.controls['Email'].touched"
                formControlName="Email" type="email" class="form-control" id="email" [(ngModel)]="email">
            <div class="invalid-feedback" *ngIf="!loginForm.controls['Email'].valid && loginForm.controls['Email'].dirty">
                <div *ngIf="loginForm.controls['Email'].hasError('required')">
                    * email is required
                </div>
                <div *ngIf="loginForm.controls['Email'].hasError('pattern')">
                    * Email not valid
                </div>
            </div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" [(ngModel)]="email">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password">
        </div>
        <button type="submit" class="btn btn-success btn-block" (click)="login()">Login</button>
        <a class="text-center d-block" [routerLink]="['/register']" title="register"><small>Create account!</small></a>
    
        <input type="submit" value="Submit" class="btn btn-primary btn-block">
    </form> -->